.projects-section {
    background: black;
    background-size: 600% 600%;
    animation: gradientShift 15s ease infinite;
  }
  .projecth3{
    font-size: 2rem;
    font-weight: bold;
  }
  
  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @media(max-width: 480px){
  h1{
    font-size: 28px;
  }
  h1 span{
    font-size:28px;
    margin-left: 15px;
  }
  p{
    font-size: 20px;
    align-text: center;
  }
}
  